{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "root": true,
    "plugins": [
        "import"
    ],
    "rules": {
        "strict": 0,
        "comma-dangle": ["error", "never"],
        "no-plusplus": ["error", {
            "allowForLoopAfterthoughts": true
        }],
        "import/no-extraneous-dependencies": "off",
        "no-script-url": "off",
        "global-require": "off",
        "max-len": ["warn", { "code": 200 }],
        "import/no-named-as-default": "off",
        "brace-style": ["warn", "stroustrup"],
        "arrow-parens": ["off"],
        "no-unused-expressions": "off",
        "no-shadow": "off"
    }
}
