/* ==========================================================================
	Variables
/* ========================================================================== */


/* Colors */

$black: #000;
$white: #fff;

$accentColor: #000;
$accentBackground: #000;
$accentForeground: #fff;
$accentActiveBackground: #fff;
$accentActiveForeground: #000;

$alternateActiveForeground: #ff3a3a;

$form-background: #f9f9f9;
$form-border: #e5e5e5;
$error-foreground: #ff0000;

$color_link: #337ab7;

/* Font Sizes */

/* Animations */

$transition-default-duration: 150ms;
$transition-default-timing: linear;


/* ==========================================================================
	Responsive
/* ========================================================================== */

$phone-min-size: 320px;
$phone-max-size: 767px;
$tablet-min-size: 768px;
$tablet-max-size: 991px;
$laptop-min-size: 992px;
$laptop-max-size: 1279px;
$desktop-min-size: 1280px;
$desktop-max-size: 2520px;
