html,
body {
    position: relative;
    min-height: 100vh;
}

body {
    overflow-x: hidden;
}

main {
    min-height: 300px;
    padding-bottom: 80px;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.col-centered {
    float: none;
    margin: auto;
}
