body {
    @include ltr {
        font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    }
    @include rtl {
        font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    }
    font-size: 16px;
    line-height: 1.44em;
    font-weight: normal;
    color: $black;
    @include respond-to(tablet-max) {
        font-size: 14px;
    }
}

body,
input,
textarea,
select,
button {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga', 'kern';
    -moz-font-feature-settings: 'liga', 'kern';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 80px;
    line-height: 0.94em;
    margin-top: 0;
    margin-bottom: 28px;
    @include respond-to(tablet-max) {
        font-size: 30px;
        margin-bottom: 19px;
    }
}

h2 {
    font-size: 30px;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 13px;
    @include respond-to(tablet-max) {
        font-size: 20px;
        margin-bottom: 12px;
    }
}

h3 {
    font-size: 20px;
    margin-bottom: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 16px;
}

hr {
    border: none;
    border-bottom: 1px solid $black;
}

a {
    color: $color_link;
}

%paragraph-webkit-default {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
